{% extends "base.html" %}
{% block title %}{{ exercise }}{% endblock %}
{% block content %}
  <p></p>
  <p>{{ exercise.description }}</p>
    <script src="{{ STATIC_PREFIX }}js/Chart.js"></script>
    <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
    <style>
      canvas{}
    </style>
    <body>
      <canvas id="canvas" height="450" width="600"></canvas>
      <script> 
                var barChartData = {
                        labels : ["January","February","March","April","May","June","July"],
                        datasets : [
                                {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,1)",
                                        data : [65,59,90,81,56,55,40]
                                },
                                {
                                        fillColor : "rgba(151,187,205,0.5)",
                                        strokeColor : "rgba(151,187,205,1)",
                                        data : [28,48,40,19,96,27,100]
                                }
                        ]
                        
                }

        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData);
      </script>
{% endblock %}
