{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block content %}
  <p></p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>School</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        {% if object_list %}
        {% for s in object_list %}
        <tr>
          <td><a href="/students/{{ s.id }}">{{ s }}</a></td>
          <td>{{ s.school }}</td>
          <td>{{ s.grade  }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  <p></p>
{% endblock %}
