{% extends "base.html" %}
{% block title %}{{ student }}{% endblock %}
{% block content %}
  <p></p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>School</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/students/{{ student.id }}">{{ student }}</a></td>
          <td>{{ student.school }}</td>
          <td>{{ student.grade  }}</td>
        </tr>
      </tbody>
    </table>
  <p></p>
  <h2>Programs</h2>
  <p></p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>School</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  <p></p>
{% endblock %}
